DIALOG_CONNECTION_NAME=Dialog 4G WIFI
DIALOG_MSISDN=YOUR_MSISDN
DIALOG_COOKIE=YOUR_DIALOG_COOKIE

DIALOG_BALANCE_URL=https://dialog.lk/selfcare-proxy?r=dash%2Fget-component-data
DIALOG_USAGE_URL=https://dialog.lk/selfcare-proxy?r=usage/get

DIALOG_BALANCE_UUID=
DIALOG_USAGE_UUID=

DIALOG_BALANCE_REFERER=https://dialog.lk/mydialog-web/account-summary
DIALOG_USAGE_REFERER=https://dialog.lk/mydialog-web/services/data-detail-tab

DIALOG_BALANCE_BODY={"id":"balance_summery_section","nav_id":"492","term_id":"478"}
DIALOG_USAGE_BODY={}